<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html>
    <head>
        <link rel="contact" href="test2.css">
    </head>
    <body>
            <h2>Kontakt</h2>
            <p><strong>*</strong>email: njr11@gmail.com</p>
            <p><strong>*</strong>telefon: 999 999 999</p>
            <p><b>Wyślij wiadomość</b></p
        <form
           <input type="text">
           <textarea rows="5" cols="50"></textarea>
           <input type="submit">
        </form>
         
    </body>
</html>
{% endblock %}